.metadata/*
.recommenders/*
com.novarem.jndi/.classpath
gestioncabinet-api/.classpath
gestioncabinet-api/.project
gestioncabinet-coreM/.classpath
gestioncabinet-vidal/.classpath
gestioncabient-vidal/.project
GestionCabinet/.classpath
